/*** This file contains CSS ***/
body {
  font-family: "Lato", sans-serif;
}
/** Animations ***/

/***
/*** Effects *****/
/**decorations***/
/*
*These are css effects on decorations found in the website
*/
/** Hover effect ****/
/*
*These are css effects on links and buttons when hovered
*/
.btn {
  transition: transform 0.1s;
}

.btn:hover {
  transform: scale(1.1);
}

a:hover {
  font-size: 18px;
  font-size-adjust: 20px;
}

/*** Imagery ****/
/*
*These styles how an image covers its parent contain 
**/
.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}
